---
title: Categorical & Dummy Variables
type: lesson
duration: "1:5"
creator:
    name: Lucy Williams
    city: DC
---

# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Categorical & Dummy Variables
Week 2 | Lesson 3.3

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Be able to use `.get_dummies()` and other ways of converting categorical data to numerical data
- How to create indicator variable (0 or 1) columns from categorical data

### LESSON GUIDE
| TIMING  | TYPE  | TOPIC  |
|:-:|---|---|
| 10 min  | [Introduction](#introduction)   | Categorical & Dummy Variables |
| 25 min  | [Demo /Guided Practice ](#demo)  | Categorical Variables  |
| 25 min  | [Demo /Guided Practice ](#demo)  | Dummy Variables  |
| 25 min  | [Independent Practice](#ind-practice)  |   |
| 5 min  | [Conclusion](#conclusion)  |  |

![](assets/images/balloon_dataset.png)

## <a name="Categorical & Dummy Variables"></a>
## Introduction: Categorical & Dummy Variables (10 mins)

Regression analysis is used with numerical variables. Results only have a valid
interpretation if it makes sense to assume that having a value of 2 on some variable
is does indeed mean having twice as much of something as a 1, and having a 50 means
50 times as much as 1. But, some times you need to work with categorical variables
in which the different values have no real numerical relationship with each other.
The solution is, to use categorical and dummy variables

A categorical variable is an independent or predictor variable that contains
values indicating membership in one of several possible categories. E.g.,
gender (male or female), marital status (married, single, divorced,
widowed). The categories are often assigned numerical values used as
labels, e.g., 0 = male; 1 = female.

A dummy variable is created by recoding categorial variables that have more than
two categories into a series of binary variables.

Here is more information on different [types of variables](http://www.indiana.edu/~educy520/sec5982/week_2/variable_types.pdf).

In [1]:
import pandas as pd
balloons_df = pd.read_csv('../data/balloons.csv', names=['Color', 'Size', 'Act', 'Age', 'Inflated'])

In [2]:
balloons_df.columns

Index([u'Color', u'Size', u'Act', u'Age', u'Inflated'], dtype='object')

In [5]:
balloons_df.columns = ['Color', 'Size', 'Act', 'Age', 'Inflated']

In [6]:
u'Foo'

u'Foo'

In [7]:
balloons_df

     Color   Size      Act    Age Inflated
0   YELLOW  SMALL  STRETCH  ADULT        T
1   YELLOW  SMALL  STRETCH  CHILD        T
2   YELLOW  SMALL      DIP  ADULT        T
3   YELLOW  SMALL      DIP  CHILD        T
4   YELLOW  SMALL  STRETCH  ADULT        T
5   YELLOW  SMALL  STRETCH  CHILD        T
6   YELLOW  SMALL      DIP  ADULT        T
7   YELLOW  SMALL      DIP  CHILD        T
8   YELLOW  LARGE  STRETCH  ADULT        F
9   YELLOW  LARGE  STRETCH  CHILD        F
10  YELLOW  LARGE      DIP  ADULT        F
11  YELLOW  LARGE      DIP  CHILD        F
12  PURPLE  SMALL  STRETCH  ADULT        F
13  PURPLE  SMALL  STRETCH  CHILD        F
14  PURPLE  SMALL      DIP  ADULT        F
15  PURPLE  SMALL      DIP  CHILD        F
16  PURPLE  LARGE  STRETCH  ADULT        F
17  PURPLE  LARGE  STRETCH  CHILD        F
18  PURPLE  LARGE      DIP  ADULT        F
19  PURPLE  LARGE      DIP  CHILD        F

## Categorical Variables

The variables in this dataset are categorical rather than numerical in nature. Consider a row vector from this set, $v \in B$, where $B$ represents the entire feature space.

We know that any given row vector will have

- $v_1 \in \{\texttt{'YELLOW'}, \texttt{'PURPLE'}\}$
- $v_2 \in \{\texttt{'SMALL'}, \texttt{'LARGE'}\}$
- $v_3 \in \{\texttt{'STRETCH'}, \texttt{'DIP'}\}$
- $v_4 \in \{\texttt{'ADULT'}, \texttt{'CHILD'}\}$
- $v_5 \in \{\texttt{'T'}, \texttt{'F'}\}$

and that each row vector has dimension 5.

### Numpy (And Thus Pandas, Scipy, Sklearn, etc) Can Not  Perform Mathematical Operations on String Vectors

In [8]:
v_1 = balloons_df.ix[0]
v_2 = balloons_df.ix[1]
v_1.dot(v_2)

TypeError: can't multiply sequence by non-int of type 'str'

### In Order To Work With Our Dataset using our core libraries, we must encode it numerically

In [11]:
encode_color = lambda x: 1 if x == 'YELLOW' else 0
encode_size = lambda x: 1 if x == 'SMALL' else 0
encode_act = lambda x: 1 if x == 'STRETCH' else 0
encode_age = lambda x: 1 if x == 'ADULT' else 0
encode_inflated = lambda x: 1 if x =='T' else 0

In [12]:
balloons_df.size

100

In [13]:
balloons_df.Color = balloons_df.Color.apply(encode_color)
balloons_df.Size = balloons_df.Size.apply(encode_size)
balloons_df.Act = balloons_df.Act.apply(encode_act)
balloons_df.Age = balloons_df.Age.apply(encode_age)
balloons_df.Inflated = balloons_df.Inflated.apply(encode_inflated)

In [14]:
balloons_df

    Color  Size  Act  Age  Inflated
0       1     1    1    1         1
1       1     1    1    0         1
2       1     1    0    1         1
3       1     1    0    0         1
4       1     1    1    1         1
5       1     1    1    0         1
6       1     1    0    1         1
7       1     1    0    0         1
8       1     0    1    1         0
9       1     0    1    0         0
10      1     0    0    1         0
11      1     0    0    0         0
12      0     1    1    1         0
13      0     1    1    0         0
14      0     1    0    1         0
15      0     1    0    0         0
16      0     0    1    1         0
17      0     0    1    0         0
18      0     0    0    1         0
19      0     0    0    0         0

In [16]:
balloons_df.T.dot(balloons_df)

          Color  Size  Act  Age  Inflated
Color        12     8    6    6         8
Size          8    12    6    6         8
Act           6     6   10    5         4
Age           6     6    5   10         4
Inflated      8     8    4    4         8

### What is the significance of the diagonal? What is the significance of an off-diagonal? Can you see any features or feature combinations that would be a good predictor of Inflation?

## What if the category has more than two classes?

<img src='assets/images/lenses_dataset.png' width=700px>

In [17]:
lenses_df = pd.read_csv('../data/lenses.csv', index_col=0, 
                        names=['Age', 'Spectacle Prescription', 'Astigmatic', 'Tear Production Rate','Prescription Class'])
lenses_df

,Age,Spectacle Prescription,Astigmatic,Tear Production Rate,Prescription Class
1,1,1,1,1,3
2,1,1,1,2,2
3,1,1,2,1,3
4,1,1,2,2,1
5,1,2,1,1,3
6,1,2,1,2,2
7,1,2,2,1,3
8,1,2,2,2,1
9,2,1,1,1,3
10,2,1,1,2,2
11,2,1,2,1,3
12,2,1,2,2,1
13,2,2,1,1,3
14,2,2,1,2,2
15,2,2,2,1,3
16,2,2,2,2,3
17,3,1,1,1,3
18,3,1,1,2,3
19,3,1,2,1,3
20,3,1,2,2,1
21,3,2,1,1,3
22,3,2,1,2,2
23,3,2,2,1,3
24,3,2,2,2,3

    Attribute Information:
        -- 3 Classes
         1 : the patient should be fitted with hard contact lenses,
         2 : the patient should be fitted with soft contact lenses,
         3 : the patient should not be fitted with contact lenses.

        1. age of the patient: (1) young, (2) pre-presbyopic, (3) presbyopic
        2. spectacle prescription:  (1) myope, (2) hypermetrope
        3. astigmatic:     (1) no, (2) yes
        4. tear production rate:  (1) reduced, (2) normal

### Numerical Data signifying Classes

In [19]:
pd.get_dummies(lenses_df['Age'])

    1  2  3
1   1  0  0
2   1  0  0
3   1  0  0
4   1  0  0
5   1  0  0
6   1  0  0
7   1  0  0
8   1  0  0
9   0  1  0
10  0  1  0
11  0  1  0
12  0  1  0
13  0  1  0
14  0  1  0
15  0  1  0
16  0  1  0
17  0  0  1
18  0  0  1
19  0  0  1
20  0  0  1
21  0  0  1
22  0  0  1
23  0  0  1
24  0  0  1

## Build a New Dataframe Using Our Dummy Columns

In [20]:
Age_dummies = pd.get_dummies(lenses_df['Age'])
Spectacle_dummies = pd.get_dummies(lenses_df['Spectacle Prescription'])
Astigmatic_dummies = pd.get_dummies(lenses_df['Astigmatic'])
Tear_dummies = pd.get_dummies(lenses_df['Tear Production Rate'])

In [21]:
type(Age_dummies)

pandas.core.frame.DataFrame

In [22]:
Age_dummies.columns = ['age_young', 'age_pre-presbyopic', 'age_presbyopic']
Spectacle_dummies.columns = ['spectacle_myope', 'spectacle_hypermetrope']
Astigmatic_dummies.columns = ['astigmatic_no', 'astigmatic_yes']
Tear_dummies.columns = ['tear_reduced', 'tear_normal']
Age_dummies.head()

   age_young  age_pre-presbyopic  age_presbyopic
1          1                   0               0
2          1                   0               0
3          1                   0               0
4          1                   0               0
5          1                   0               0

In [24]:
lenses_encoded = pd.concat([Age_dummies,Spectacle_dummies,Astigmatic_dummies,Tear_dummies], axis=1)
lenses_encoded

,age_young,age_pre-presbyopic,age_presbyopic,spectacle_myope,spectacle_hypermetrope,astigmatic_no,astigmatic_yes,tear_reduced,tear_normal
1,1,0,0,1,0,1,0,1,0
2,1,0,0,1,0,1,0,0,1
3,1,0,0,1,0,0,1,1,0
4,1,0,0,1,0,0,1,0,1
5,1,0,0,0,1,1,0,1,0
6,1,0,0,0,1,1,0,0,1
7,1,0,0,0,1,0,1,1,0
8,1,0,0,0,1,0,1,0,1
9,0,1,0,1,0,1,0,1,0
10,0,1,0,1,0,1,0,0,1
11,0,1,0,1,0,0,1,1,0
12,0,1,0,1,0,0,1,0,1
13,0,1,0,0,1,1,0,1,0
14,0,1,0,0,1,1,0,0,1
15,0,1,0,0,1,0,1,1,0
16,0,1,0,0,1,0,1,0,1
17,0,0,1,1,0,1,0,1,0
18,0,0,1,1,0,1,0,0,1
19,0,0,1,1,0,0,1,1,0
20,0,0,1,1,0,0,1,0,1
21,0,0,1,0,1,1,0,1,0
22,0,0,1,0,1,1,0,0,1
23,0,0,1,0,1,0,1,1,0
24,0,0,1,0,1,0,1,0,1

<a name="Categorical Variables"></a>
## Demo / Guided Practice: Categorical Variables (25 mins)

Why exactly would you want to use categorical variables?
The categorical data type is useful in the following cases:

- A string variable consisting of only a few different values. Converting such a
    string variable to a categorical variable will save some memory, see  
    [here](https://pandas-docs.github.io/pandas-docs-travis/categorical.html#categorical-memory).
- The lexical order of a variable is not the same as the logical order (“one”, “two”, “three”). By converting to a         
    categorical and specifying an order on the categories, sorting and min/max will
    use the logical order instead of the lexical order, see
    [here](https://pandas-docs.github.io/pandas-docs-travis/categorical.html#categorical-sort)
- As a signal to other python libraries that this column should be treated as a
    categorical variable (e.g. to use suitable statistical methods or plot types).

Let's use pandas to create a few Categorical Series. One way is by specifying
dtype="category" when constructing a Series:

> Here is a link to the [demo code](./w2-3.3-demo.ipynb).

```Python
import pandas as pd
s = pd.Series(["a","b","c","a"], dtype="category")
s
```

Another way is to convert an existing Series or column to a category dtype:
```Python
df = pd.DataFrame({"A":["a","b","c","a"]})
df["B"] = df["A"].astype('category')
df
```

You can also pass a pandas.Categorical object to a Series or assign it to a DataFrame.
```Python
raw_cat = pd.Categorical(["a","b","c","a"], categories=["b","c","d"],
                          ordered=False)
```

```Python
s = pd.Series(raw_cat)
s
```

**Check:** Why would you use a categorical variable?
[categorical variable](https://pandas-docs.github.io/pandas-docs-travis/categorical.html)

<a name="ind-practice"></a>
## Independent Practice: Topic (25 minutes)

Use the Shuttle Control Data (`'shuttle_control.csv'`) to:

1. Create dummy variables for each feature
2. Create a new dataframe containing your encoded data


    Shuttle Control Attribute Information:
    1. Class: noauto, auto
       -- that is, advise using manual/automatic control
    2. STABILITY: stab, xstab
    3. ERROR: XL, LX, MM, SS
    4. SIGN: pp, nn
    5. WIND: head, tail
    6. MAGNITUDE: Low, Medium, Strong, OutOfRange
    7. VISIBILITY: yes, no

In [ ]:
afghi
afghi
afghi
afghi
afghi
afghi

bcde
bcde
bcde
bcde
bcde
bcde

<a name="conclusion"></a>
## Conclusion (5 mins)

We learned that categorical and dummy variables are very useful. Some applications
are: turning a string value that may only have a few different values into a
categorical variable or when the lexical order of a variable is not the same as
the logical order. When we start Regression in Week 3, it will become even more
apparent how valuable these tools are to help us manage our data and make
it easier to analyze.